/* flash messages */
.flash-messages {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    background-color:rgb(255, 255, 255);
    border: 1px solid black;
    color:rgb(0, 0, 0);
    z-index: 999;
}

.character-modal .modal-content {
    background-color: rgba(165, 190, 255, 0.911);
}

.image-container img {
    width: 100%;
    transition: all .3s ease-in-out;
}

.image-container {
    overflow: hidden;
}

.character-card:hover {
    opacity: 0.9;
    border: 2px solid rgb(170, 170, 255) !important;
}

.modal-image img {
    width: 75%;
    margin: 0 auto;
    border-radius: 50%;
    border: 7px solid rgba(255, 0, 0, 0.571);
}

.faction-logo {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 999;
    padding: 2px;
}