@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=M+PLUS+Rounded+1c:wght@300&family=Maitree&family=Manuale&family=Montserrat&family=Source+Code+Pro:wght@300&display=swap');


/* text */

.text-one {
    font-family: 'Fredoka', sans-serif;
}

.text-two {
    font-family: 'Montserrat', sans-serif;
}

.modal-content {
    background-color: rgba(80, 118, 255, 0.927);
}

/* flash messages */
.flash-messages {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    background-color:rgb(255, 255, 255);
    border: 1px solid black;
    color:rgb(0, 0, 0);
}

.submit-button {
    background-color:#fff;
    color: #9a9a9a;
}

.submit-button:hover {
    background-color:rgb(219, 228, 253);
}

@media screen and (max-width: 576px){
    .main-logo {
        font-size: 20px!important;
    }
}